<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{{= resources['favicon16'] }}

	<title>{{= html(class.Name) }} Reference</title>
	{{= resources['api.css'] }}
	{{= resources['ref.css'] }}
	{{= resources['jquery.js'] }}
	{{= resources['fuse.js'] }}
	{{= resources['search.js'] }}
</head>
<body>
	<div id="ref-container">
		<div id="ref-box">
			<div id="header">
			{{ local icon = class.Icon }}
				{{include: 'resources/templates/ClassIcon.html' }}<h1>{{= html(class.Name) }}</h1>{{local versions=class.Versions}}{{include: 'resources/templates/VersionList.html' }}
				<span id="header-items">
				{{ local icon = 3 }}
					<a id="return-link" href="/api">Back to hierarchy{{include: 'resources/templates/MemberIcon.html' }}</a>
				</span>
			</div>
			<div id="box-content">
				<div id="info">
				{{ if description.summary then }}
					<div id="summary">
						<div class="markdown">
{{= description.summary }}
						</div>
					</div>
				{{ end }}
				{{ if class.Tags.preliminary then }}
					<p><b>Preliminary:</b> This class is preliminary.</p>
				{{ end }}
				{{ if class.Tags.deprecated then }}
					<p><b>Deprecated:</b> This class is deprecated.</p>
				{{ end }}
				{{ if #class.TagList > 0 then }}
					<p><b>Tags: </b>
						{{ local tags = class.TagList }}
						{{include: 'resources/templates/Tags.html'}}
					</p>
				{{ end }}
					<div id="members">
						<h2>Members</h2>
				{{ for i = 1,#class.Members do }}
					{{ local memberType = class.Members[i] }}
					{{ local inherited = memberType.Inherited }}
					{{ if #memberType.List > 0 or #inherited > 0 then }}
						<div id="section{{= html(memberType.TypePlural) }}">
							<h3>{{= html(memberType.TypePlural) }}</h3>
					{{ if #memberType.List > 0 then }}
						{{ if memberType.Type == 'Property' then }}
							{{include: 'resources/templates/PropertyList.html' }}
						{{ elseif memberType.Type == 'Function' then }}
							{{include: 'resources/templates/FunctionList.html' }}
						{{ elseif memberType.Type == 'YieldFunction' then }}
							{{include: 'resources/templates/YieldFunctionList.html' }}
						{{ elseif memberType.Type == 'Event' then }}
							{{include: 'resources/templates/EventList.html' }}
						{{ elseif memberType.Type == 'Callback' then }}
							{{include: 'resources/templates/CallbackList.html' }}
						{{ end }}
					{{ end }}
						{{ if #inherited > 0 then }}
							<ul>
						{{ for i = 1,#inherited do }}
							{{ local n = inherited[i].Amount }}
							{{ if n > 0 then }}
								{{ local class = inherited[i].Class }}
								<li>{{= html(n) }} {{= html(inherited[i].Member) }} inherited from <a class="api-class-name" href="{{= html(format.url.class(class)) }}#section{{= html(memberType.TypePlural) }}">{{= html(class) }}</a></li>
							{{ end }}
						{{ end }}
							</ul>
						{{ end }}
						</div>
					{{ end }}
				{{ end }}
					</div>
				{{ if #class.Enums > 0 then }}
					<div id="sectionEnums">
						<h2>Enums</h2>
						{{include: 'resources/templates/EnumList.html'}}
					</div>
				{{ end }}
				{{ if description.details then }}
					<div id="details">
						<h2>Detailed Description</h2>
						<div class="markdown">
{{= description.details }}
						</div>
					</div>
				{{ end }}
					<div id="member-descriptions">
				{{ for i = 1,#class.Members do }}
					{{ local members = class.Members[i] }}
					{{ if #members.List > 0 then }}
						<h2>{{= html(members.Type) }} Descriptions</h2>
					{{ for i = 1,#members.List do}}
						{{ local member = members.List[i] }}
						<div id="member{{= html(member.Name) }}">
						{{ local icon = member.Icon}}
						{{ local arguments = member.Arguments }}
						{{ if member.Type == 'Property' then }}
							<h3>{{include: 'resources/templates/MemberIcon.html'}}<a class="api-value-type" href="{{= html(format.url.type(member.ValueType)) }}">{{= html(member.ValueType) }}</a> {{= html(member.Class) }}.{{= html(member.Name) }}</h3>
						{{ elseif member.Type == 'Function' then }}
							<h3><a class="api-value-type" href="{{= html(format.url.type(member.ReturnType)) }}">{{= html(member.ReturnType) }}</a>{{include: 'resources/templates/MemberIcon.html'}}{{= html(member.Class) }}.{{= html(member.Name) }} {{include: 'resources/templates/Arguments.html' }}</h3>
						{{ elseif member.Type == 'YieldFunction' then }}
							<h3><a class="api-value-type" href="{{= html(format.url.type(member.ReturnType)) }}">{{= html(member.ReturnType) }}</a>{{include: 'resources/templates/MemberIcon.html'}}{{= html(member.Class) }}.{{= html(member.Name) }} {{include: 'resources/templates/Arguments.html' }}</h3>
						{{ elseif member.Type == 'Event' then }}
							<h3>{{include: 'resources/templates/MemberIcon.html'}}{{= html(member.Class) }}.{{= html(member.Name) }} {{include: 'resources/templates/Arguments.html' }}</h3>
						{{ elseif member.Type == 'Callback' then }}
							<h3><a class="api-value-type" href="{{= html(format.url.type(member.ReturnType)) }}">{{= html(member.ReturnType) }}</a>{{include: 'resources/templates/MemberIcon.html'}}{{= html(member.Class) }}.{{= html(member.Name) }} {{include: 'resources/templates/Arguments.html' }}</h3>
						{{ end }}
						{{ if #member.Versions > 0 then }}
							{{ local versions = member.Versions }}
							<p><b>Version History:</b>{{include: 'resources/templates/VersionList.html' }}</p>
						{{ end }}
						{{ if member.Tags.preliminary then }}
							<p><b>Preliminary:</b> This member is preliminary.</p>
						{{ end }}
						{{ if member.Tags.deprecated then }}
							<p><b>Deprecated:</b> This member is deprecated.</p>
						{{ end }}
						{{ if #member.TagList > 0 then }}
							{{ local tags = member.TagList }}
							<p><b>Tags: </b>{{include: 'resources/templates/Tags.html' }}</p>
						{{ end }}
						{{ if member.Description then}}
							<div class="markdown">
{{= member.Description}}
							</div>
						{{ end }}
						</div>
					{{ end }}
					{{ end }}
				{{ end }}
					</div>
				</div>
				<div id="hierarchy-nav">
				{{ if #class.Superclasses > 0 then }}
					<div id="superclasses">
						<p><b>Inherits:</b></p>
						<ul>
						{{ for i = 1,#class.Superclasses do }}
							{{ local super = class.Superclasses[i] }}
							{{ local icon = super.Icon }}
							<li>{{include: 'resources/templates/ClassIcon.html' }}<a class="api-class-name" href="{{= html(format.url.class(super.Class)) }}">{{= html(super.Class) }}</a></li>
						{{ end }}
						</ul>
					</div>
				{{ end }}
				{{ if #class.Subclasses > 0 then }}
					<div id="subclasses">
						<p><b>Inherited by:</b></p>
						<ul>
						{{ for i = 1,#class.Subclasses do }}
							{{ local sub = class.Subclasses[i] }}
							{{ local icon = sub.Icon }}
							<li>{{include: 'resources/templates/ClassIcon.html' }}<a class="api-class-name" href="{{= html(format.url.class(sub.Class)) }}">{{= html(sub.Class) }}</a></li>
						{{ end }}
						</ul>
					</div>
				{{ end }}
				</div>
			</div>
		</div>
	</div>
	{{include: 'resources/templates/footer.html'}}
</body>
</html>
