<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{{= resources['favicon16'] }}

	<title>Roblox API Differences</title>
	{{= resources['api.css'] }}
	{{= resources['ref.css'] }}
	{{= resources['jquery.js'] }}
	{{= resources['collapse.js'] }}
	{{= resources['fuse.js'] }}
	{{= resources['search.js'] }}
</head>
<body>
	<div id="ref-container">
		<div id="ref-box">
			<div id="header">
				<h1>API Differences</h1>
				<span id="header-items">
					{{ local icon = 3 }}
					<a id="return-link" href="/api">Back to hierarchy{{include: 'resources/templates/MemberIcon.html' }}</a>
				</span>
			</div>
			<div id="box-content">
				This page lists the differences between versions of the ROBLOX Lua API.
				<ul id="diff-versions">
				{{ for i = 1,#diffs do }}
					<li>
						<a class="anchor" id="{{= html(format.url.version(diffs[i].CurrentVersion,true)) }}"></a>
						<span class="diff-date">{{= html(format.date(diffs[i].Date)) }}</span> ( <span class="api-version">{{= html(diffs[i].PreviousVersion) }}</span> → <span class="api-version">{{= html(diffs[i].CurrentVersion) }}</span> )<a class="permalink" href="{{= html(format.url.version(diffs[i].CurrentVersion)) }}"></a>
					{{ local d = diffs[i].Differences }}
						<ul class="diff-list">
					{{ for i = 1,#d do }}
						{{ local diffitem = d[i] }}
						{{ local type = diffitem[1] }}
						{{ local subtype = diffitem[2] }}
						{{ local item = diffitem[3] }}
						{{ local arg = diffitem[4] }}
							<li>
						{{ if type == -1 then }}
							{{ if subtype == 'Item' then }}
								Removed {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}
							{{ elseif subtype == 'Class' or subtype == 'Enum' then }}
								Removed {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}
								{{ if #arg > 0 then }}
								<ul>
								{{ for i = 1,#arg do }}
									{{ local item = arg[i] }}
									<li>Removed {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}</li>
								{{ end }}
								</ul>
								{{ end }}
							{{ elseif subtype == 'Tag' then }}
								Removed {{= html(arg) }} tag from {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}
							{{ end }}
						{{ elseif type == 1 then }}
							{{ if subtype == 'Item' then }}
								Added {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}
							{{ elseif subtype == 'Class' or subtype == 'Enum' then }}
								Added {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}
								{{ if #arg > 0 then }}
								<ul>
								{{ for i = 1,#arg do }}
									{{ local item = arg[i] }}
									<li>Added {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}</li>
								{{ end }}
								</ul>
								{{ end }}
							{{ elseif subtype == 'Tag' then }}
								Added {{= html(arg) }} tag to {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}}
							{{ end }}
						{{ elseif type == 0 then }}
							{{ if subtype == 'Superclass' then }}
								Changed superclass of {{include: 'resources/templates/DiffItemName.html'}} from {{ if item.Superclass then }}<a class="api-class-name" href="{{= html(format.url.class(item.Superclass)) }}">{{= html(item.Superclass) }}</a>{{ else }}(none){{ end }} to {{if arg then }}<a class="api-class-name" href="{{= html(format.url.class(arg)) }}">{{= html(arg) }}</a>{{ else }}(none){{ end }}
							{{ elseif subtype == 'ValueType' then }}
								Changed value type of {{include: 'resources/templates/DiffItemName.html'}} from <a class="api-value-type" href="{{= html(format.url.type(item.ValueType)) }}">{{= html(item.ValueType) }}</a> to <a class="api-value-type" href="{{= html(format.url.type(arg)) }}">{{= html(arg) }}</a>
							{{ elseif subtype == 'ReturnType' then }}
								Changed return type of {{include: 'resources/templates/DiffItemName.html'}} from <a class="api-value-type" href="{{= html(format.url.type(item.ReturnType)) }}">{{= html(item.ReturnType) }}</a> to <a class="api-value-type" href="{{= html(format.url.type(arg)) }}">{{= html(arg) }}</a>
							{{ elseif subtype == 'Arguments' then }}
								{{ local arguments = item.Arguments }}
								Changed arguments of {{include: 'resources/templates/DiffItemName.html'}} {{include: 'resources/templates/Arguments.html'}}
								<ol class="diff-arg-list">
							{{ for i = 1,#arg do }}
								{{ local d = arg[i] }}
								{{ if d[1] == 1 then }}
									{{ local argument = d[3] }}
									<li>Inserted {{include: 'resources/templates/Argument.html'}} as {{= html(format.ordinal(d[2])) }} argument</li>
								{{ elseif d[1] == 2 then }}
									<li>Removed {{= html(format.ordinal(d[2])) }} argument</li>
								{{ elseif d[1] == 3 then }}
									<li>Swapped {{= html(format.ordinal(d[2])) }} and {{= html(format.ordinal(d[3])) }} arguments</li>
								{{ elseif d[1] == 4 then }}
									{{ local argument = d[3] }}
									<li>Replaced {{= html(format.ordinal(d[2])) }} argument with {{include: 'resources/templates/Argument.html'}}</li>
								{{ end }}
							{{ end }}
								</ol>
							{{ elseif subtype == 'Value' then }}
								Changed value of enum item {{include: 'resources/templates/DiffItemName.html'}} from {{= html(item.Value) }} to {{= html(arg) }}
							{{ elseif subtype == 'Security' then }}
								Changed security of {{= html(item.type) }} {{include: 'resources/templates/DiffItemName.html'}} from {{= html(arg) }} to {{= html(diffitem[5]) }}
							{{ end }}
						{{ end }}
							</li>
					{{ end }}
						</ul>
					</li>
				{{ end }}
				</ul>
			</div>
		</div>
	</div>
	{{include: 'resources/templates/footer.html' }}
</body>
</html>
