<table class="enum-list">
	<tr>
		<th class="col-icon"></th>
		<th class="col-name">Enum</th>
	{{ if enums.HasHistory then }}
		<th class="col-history">History</th>
	{{ end }}
	</tr>
{{ for i = 1,#enums.List do}}
	{{local enum = enums.List[i] }}
	<tr>
		<td class="col-icon"><span class="api-enum-icon"></span></td>
		<td class="col-value"><a class="api-enum-name" href="{{= format.url.type(enum.Name) }}">{{= html(enum.Name) }}</a></td>
	{{ if enums.HasHistory then }}
		{{ local history = enum.History }}
		<td class="col-history">{{include: 'resources/templates/HistoryList.html'}}</td>
	{{ end }}
	</tr>
{{ end }}
</table>