<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{{= resources['favicon16'] }}

	<title>{{= html(enum.Name) }} Reference</title>
	{{= resources['ref.css'] }}
	{{= resources['jquery.js'] }}
	{{= resources['search.js'] }}
</head>
<body>
	<div id="ref-container">
		<div id="ref-box">
			<div id="header">
				<span class="api-enum-icon"></span><h1>{{= html(enum.Name) }}</h1>{{local history=enum.History}}{{include: 'resources/templates/HistoryList.html' }}
				<span id="header-items">
				{{ local icon = 3 }}
					<a id="return-link" href="/api">Back to hierarchy{{include: 'resources/templates/MemberIcon.html' }}</a>
				</span>
			</div>
			<div id="box-content">
				<div id="info">
				{{ if enum.Description.Summary then }}
					<div id="summary">
						<div class="markdown">
{{= enum.Description.Summary }}
						</div>
					</div>
				{{ end }}
				{{ if enum.Description.Details then }}
					<div id="details">
						<h2>Detailed Description</h2>
						<div class="markdown">
{{= enum.Description.Details }}
						</div>
					</div>
				{{ end }}
					<div id="enum-items">
						<h2>Enum Items</h2>
					{{ if #enum.Items == 0 then }}
						<p>This enum has no items.</p>
					{{ else }}
						<table class="enum-item-list">
							<tr>
								<th class="col-icon"><span class="api-enum-icon"></span></th>
								<th class="col-value">Value</th>
								<th class="col-name">Name</th>
							{{ if enum.HasHistory then }}
								<th class="col-history">History</th>
							{{ end }}
								<th class="col-description">Description</th>
							</tr>
						{{ for i = 1,#enum.Items do}}
							<tr>
								<td class="col-icon"><span class="api-enum-item-icon"></span></td>
								<td class="col-value"><span class="api-enum-item-value">{{= html(enum.Items[i].Value) }}</span></td>
								<td class="col-name"><span class="api-enum-item-name">{{= html(enum.Items[i].Name) }}</span></td>
							{{ if enum.HasHistory then }}
								<td class="col-history">{{local history=enum.History}}{{include: 'resources/templates/HistoryList.html' }}</td>
							{{ end }}
								<td class="col-description">{{= enum.Items[i].Description or 'No description' }}</td>
							</tr>
						{{ end }}
						</table>
					{{ end }}
					</div>
				{{ if #enum.Usage > 0 then }}
					<div id="relevant-members">
						<h2>Relevant Members</h2>
						<ul id="member-usage-list">
					{{ for i = 1,#enum.Usage do }}
						{{ local class = enum.Usage[i] }}
						{{ local icon = class.Icon }}
							<li>{{include: 'resources/templates/ClassIcon.html' }}<a class="api-class-name" href="{{= format.url.class(class.Name) }}">{{= html(class.Name) }}</a>
								<ul>
								{{ for i = 1,#class.Members do }}
									{{ local member = class.Members[i] }}
									{{ local icon = member.Icon }}
									<li>{{include: 'resources/templates/MemberIcon.html' }}<a href="{{= format.url.member(class.Name,member.Name) }}">{{= class.Name }}.{{= member.Name }}</a></li>
								{{ end }}
								</ul>
							</li>
					{{ end }}
						</ul>
					</div>
				{{ end }}
				</div>
			</div>
		</div>
	</div>
	{{include: 'resources/templates/footer.html'}}
</body>
</html>
