<table class="member-list">
	<tr>
		<th class="col-icon"></th>
		<th class="col-name">Event</th>
	{{ if memberType.HasHistory then }}
		<th class="col-history">History</th>
	{{ end }}
	</tr>
{{ for i = 1,#memberType.List do }}
	{{ local member = memberType.List[i] }}
	<tr>
	{{ local icon = member.Icon }}
		<td class="col-icon">{{include: 'resources/templates/MemberIcon.html'}}</td>
	{{ local arguments = member.Arguments }}
		<td class="col-name"><a class="api-member-name{{if member.Tags.preliminary then }} api-preliminary{{ end }}{{ if member.Tags.deprecated then }} api-deprecated{{ end }}" href="{{= html(format.url.member(member.Name)) }}">{{= html(member.Name) }}</a> {{include: 'resources/templates/Arguments.html' }}</td>
	{{ if memberType.HasHistory then }}
		{{ local history = member.History }}
		<td class="col-history">{{include: 'resources/templates/HistoryList.html'}}</td>
	{{ end }}
	</tr>
{{ end }}
</table>