<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{{= resources['favicon16'] }}

	<title>Roblox API Reference</title>
	{{= resources['api.css'] }}
	{{= resources['ref.css'] }}
	{{= resources['jquery.js'] }}
	{{= resources['fuse.js'] }}
	{{= resources['search.js'] }}
</head>
<body>
	<div id="ref-container">
		<div id="ref-box">
			<div id="header">
				<h1>Class Hierarchy</h1>
				<span id="header-items">
					<noscript id="search-message">Searching requires javascript.</noscript>
				</span>
			</div>
			<div id="box-content">
				<div id="diff-message">
					<span class="diff-date">{{= html(format.date(diffs[1].Date)) }}</span>: <a href="/api/diff.html">New changes</a> have been made to the API.
				</div>
				<ul id="hierarchy-list">
					{{= format.classtree(tree) }}
				</ul>
			</div>
		</div>
	</div>
	{{include: 'resources/templates/footer.html' }}
</body>
</html>
