<table class="member-list">
	<tr>
		<th class="col-icon"></th>
		<th class="col-name">Property</th>
		<th class="col-value-type">Type</th>
	{{ if memberType.HasTags then }}
		<th class="col-tags">Tags</th>
	{{ end }}
	{{ if memberType.HasAdded then }}
		<th class="col-version-added">Added</th>
	{{ end }}
	{{ if memberType.HasRemoved then }}
		<th class="col-version-removed">Removed</th>
	{{ end }}
	</tr>
{{ for i = 1,#memberType.List do }}
	{{ local member = memberType.List[i] }}
	<tr>
	{{ local icon = member.Icon }}
		<td class="col-icon">{{include: 'resources/templates/MemberIcon.html'}}</td>
		<td class="col-name"><a class="api-member-name{{if member.Tags.preliminary then }} api-preliminary{{ end }}{{ if member.Tags.deprecated then }} api-deprecated{{ end }}" href="{{= html(format.url.member(member.Name)) }}">{{= html(member.Name) }}</a></td>
		<td class="col-value-type"><a class="api-value-type" href="{{= html(format.url.type(member.ValueType)) }}">{{= html(member.ValueType) }}</a></td>
	{{ if #member.TagList > 0 then }}
		{{ local tags = member.TagList }}
		<td class="col-tags">{{include: 'resources/templates/Tags.html'}}</td>
	{{ elseif memberType.HasTags then }}
		<td class="col-tags"></td>
	{{ end }}
	{{ if member.VersionAdded then }}
		<td class="col-version-added">
		{{ for i = 1,#member.VersionAdded do }}
			{{ local added = true }}
			{{ local version = member.VersionAdded[i] }}
			{{include: 'resources/templates/Version.html'}}
		{{ end }}
		</td>
	{{ elseif memberType.HasAdded then }}
		<td class="col-version-added"></td>
	{{ end }}
	{{ if member.VersionRemoved then }}
		<td class="col-version-removed">
		{{ for i = 1,#member.VersionRemoved do }}
			{{ local added = false }}
			{{ local version = member.VersionRemoved[i] }}
			{{include: 'resources/templates/Version.html'}}
		{{ end }}
		</td>
	{{ elseif memberType.HasRemoved then }}
		<td class="col-version-removed"></td>
	{{ end }}
	</tr>
{{ end }}
</table>